.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.slide {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
}
