.app-header-container {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}

.app-header {
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  align-self: center;
  width: 95vw;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.app-header-switch {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.app-header-greeting-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header-greeting {
  margin-bottom: 0 !important;
}
